.center {
    margin-left: auto;
    margin-right: auto;
    width: 7em;
}

.dropdown-menu {
    opacity: 0;
    scale: 95%;
    transition: all ease-out 100ms;
}

.dropdown-menu.open {
    opacity: 1;
    scale: 100%;
}